<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
<!-- READ 
   IN DỮ LIỆU RA MÀN HÌNH 
    DÙNG LỆNH % ĐỂ BẮT DỮ LIỆU TỪ TỆP JS -->
    <table>
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Role ID</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>

        <% for(var i=0; i < datatable.length; i++) { %>
            <tr>
              <td><%= datatable[i].email %></td>
              <td><%= datatable[i].firstName %></td>
              <td><%= datatable[i].lastName %></td>
              <td><%= datatable[i].address %></td>
              <td><%= datatable[i].gender %></td>
              <td><%= datatable[i].roleId %></td>
              <td><%= datatable[i].phonenumber %></td>
              <td>
                <a href="/edit-crud?id=<%= datatable[i].id %>">Edit</a>
                <a href="">Delete</a>
              </td>
            </tr>
         <% } %>
      </table>

</body>
</html>